.weechat/logs
.weechat/**/*log
.fzf.*
.weechat/irc.conf
.vim/undodir/*
.vim/plugged
.vim/.netrwhist
.vim/vimball
.vim/.VimballRecord
.vim/thesaurus/*
.vim.old/undodir/*
.vim.old/plugged
.vim.old/.netrwhist
.vim.old/vimball
.vim.old/.VimballRecord
.vim.old/thesaurus/*
.weechat/.mypy_cache
.weechat/weechat_fifo
.config/sublime-text-3/Packages/User/Sublundo
.config/sublime-text-3/Packages/User/Sublundo
.config/sublime-text-3/Packages/User/Package Control.cache
.config/sublime-text-3/Local
.config/sublime-text-3/Backup
.config/ranger/luke_oldconfig
.config/ranger/bookmarks
.config/ranger/history
.config/ranger/rc_personal.conf
.config/ranger/tagged
.config/ranger/__pycache__
Library
Documents
Downloads
Library
Movies
Music
OneDrive
Pictures
Public
.cargo
.local/share/fish/generated_completions
Applications
Desktop
Dropbox
Zotero
.config/karabiner/automatic_backups
.vim.old
.swp
go
git-repos
zsh-syntax-highlighting
