Emacs*useXIM: false
Emacs.fontBackend: xft

XTerm*renderFont:true
XTerm*faceName:xft:Monospace:size=10
 

/*URxvt.font:-*-fixed-medium-*-*-*-14-*-*-*-*-*-*-**/
URxvt*termName: rxvt-unicode-256color
URxvt.perl-ext:      default
URxvt.underlineURLs: true
URxvt.jumpScroll:true
URxvt.skipScroll:true
URxvt*buffered: false 
URxvt.inputMethod: ibus
URxvt.preeditType: OverTheSpot


! Scrollbar
URxvt.scrollStyle: rxvt
URxvt.scrollBar: false
 
! Perl extensions
URxvt.perl-ext-common: default,matcher,background,resize-font,keyboard-select
URxvt.matcher.button: 1
URxvt.url-launcher: firefox


!!! use tmux for vi-select and url selection
! ! keyboard-select
! URxvt.keysym.M-s: perl:keyboard-select:activate
! URxvt.keysym.M-r: perl:keyboard-select:search

! copy paste
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard

!kuake hotkey
!! URxvt.kuake.hotkey: F10

!background ricing
URxvt.background.expr: center cover keep { blur 3, load "$HOME/urxvt_wallpaper2.jpg" }

URxvt.iso14755: false
URxvt.iso14755_52: false


! URxvt.depth: 32
URxvt.lsp: 5
URxvt.geometry: 90x30
URxvt.fading: 25
! URxvt.urgentOnBell: true
! URxvt.visualBell: true
URxvt.loginShell: true
URxvt.saveLines: 2000
URxvt.internalBorder: 3
URxvt.lineSpace: 0

! URxvt.transparent: true

!!! pasta fonts

#define font1         InconsolataLGC Nerd Font
#define font2         Inconsolata Nerd Font
#define font3         DejaVuSansMono Nerd Font
#define font4         Noto Sans Mono CJK JP

! URxvt*font:           xft:font1:pixelsize=16, xft:font2:pixelsize=14:minspace=false, xft:font3:pixelsize=14,xft:font4:pixelsize=14
! URxvt*boldFont:       xft:font1:bold:pixelsize=16, xft:font2:pixelsize=14:minspace=False,xft:font3:pixelsize=14,xft:font4:pixelsize=14
! URxvt*italicFont:     xft:font1:italic:pixelsize=16, xft:font2:pixelsize=14:minspace=False,xft:font3:pixelsize=14,xft:font4:pixelsize=14
! URxvt*boldItalicFont: xft:font1:bold:italic:pixelsize=16, xft:font2:pixelsize=14:minspace=False, xft:font3:pixelsize=14, xft:font4:pixelsize=14


! ! My Fonts
! /* URxvt.font: -*-terminus-medium-r-normal-*-12-120-72-72-c-60-iso8859-1 */
! ! URxvt.font:  -*-terminus-medium-r-*-*-18-*-*-*-*-*-*-*
! ! URxvt.font: xft:Terminess Powerline
URxvt*font: xft:DejaVuSansMono Nerd Font Mono:pixelsize=16,xft:Unifont,xft:NotoEmoji Nerd Font
! ! Fix font space
 URxvt*letterSpace: -1

! Cursor
URxvt.cursorBlink: true
URxvt.cursorColor: #24B038  
URxvt.cursorUnderline: false
 
! Pointer
! URxvt.pointerBlank: true
 
!!Source http://github.com/altercation/solarized

!
! Generated with :
! XRDB2Xreources.py
!
*.foreground:  #bbbbbb
*.background:  #121212
!
! Black
*.color0:      #464646
*.color8:      #7b7b7b
!
! Red
*.color1:      #fa2573
*.color9:      #f6669d
!
! Green
*.color2:      #98e123
*.color10:     #b1e05f
!
! Yellow
*.color3:      #dfd460
*.color11:     #fff26d
!
! Blue
*.color4:      #1080d0
*.color12:     #00afff
!
! Magenta
*.color5:      #8700ff
*.color13:     #af87ff
!
! Cyan
*.color6:      #43a8d0
*.color14:     #51ceff
!
! White
*.color7:      #bbbbbb
*.color15:     #ffffff
!
! Bold, Italic, Underline
*.colorBD:     #ffffff
!*.colorIT:
!*.colorUL:


! ! special
! *.foreground:   #a3b1b2
! *.background:  #2A2A2A
!
! ! black
! *.color0:       #66686b
! *.color8:       #92969a
!
! ! red
! *.color1:       #a54242
! *.color9:       #cc6666
!
! ! green
! *.color2:       #719440
! *.color10:      #6cbd68
!
! ! yellow
! *.color3:       #de935f
! *.color11:      #f0c674
!
! ! blue
! *.color4:       #5f819d
! *.color12:      #81a2be
!
! ! magenta
! *.color5:       #85678f
! *.color13:      #b294bb
!
! ! cyan
! *.color6:       #5e8d87
! *.color14:      #8abeb7
!
! ! white
! *.color7:       #707880
! *.color15:      #c5c8c6

!
! *foreground: #949fa0
! !!*fading: 40
! *fadeColor: #002b36
! *cursorColor: #93a1a1
! *pointerColorBackground: #586e75
! *pointerColorForeground: #93a1a1
!  
! ! black
! *.color0:       #434446
! *.color8:       #6a6c6e
!
! ! red
! *.color1:       #a54242
! *.color9:       #cc6666
!
! ! green
! *.color2:       #719440
! *.color10:      #6cbd68
!
! ! yellow
! *.color3:       #de935f
! *.color11:      #f0c674
!
! ! blue
! *.color4:       #5f819d
! *.color12:      #81a2be
!
! ! magenta
! *.color5:       #85678f
! *.color13:      #b294bb
!
! ! cyan
! *.color6:       #5e8d87
! *.color14:      #8abeb7
!
! ! white
! *.color7:       #707880
! *.color15:      #c5c8c6
!
